<h1 mat-dialog-title style="text-align:center; color: #ffffff;">Change Password</h1>
<div mat-dialog-content style="text-align:center;color: #ffffff;">
  <p >Enter Your E-Mail Address</p>
  <mat-form-field style="  width: 293px !important;">
        <input matInput placeholder="Enter Email Address">
      </mat-form-field>
</div>
<div mat-dialog-actions  style="text-align:center;">
  <button mat-button (click)="onNoClick()" style="margin: 0 AUTO;color:#ffffff;    width: 100px;
  height: 50px;
  border: 1px solid #fff;">Send</button>
 
</div>